alembic~=1.8
colored~=1.4.3
click==8.1.3
cryptography
dictalchemy3~=1.0
PyMySQL~=1.0.2
SQLAlchemy~=1.4
aiohttp~=3.8
prometheus-client~=0.14
tenacity~=8.0
tabulate~=0.8
scalecodec>=1.1.0a1,<1.2
substrate-interface>=1.4.0,<1.5
